
/* Feuille CSS du projet Mes Ressources Documentaires
   ========================================================================== */

* {
    box-sizing: border-box;
}


body {
    background-color: white;
    width: auto;
}

/* header    ============== */


.menuhead {
    display: flex;
    flex: auto; 
    justify-content: space-between;
    background-color: #FBF8FB;
    padding : 20px 40px;
    border-bottom: #EFEFEE solid;
    color:#9E999C;  
}


.menuhead__logo img {
    vertical-align: middle;
    max-width: 100%;
    width: 50px;
    margin-right:16px;  
} 

.menuhead__profil{
    border-left: solid #EFEFEE;
    
}

.menuhead__profil img{
    vertical-align: middle;
    max-width: 100%;
    width:50px;
    margin : 0px 16px;
    border-radius: 50px; 
}


/* page entière    ============== */
html {
    font-family: 'Asap', sans-serif; 
    color: #292728;
}
